# this template can be copied to the root of the project `cp .env.template .env`
#it is also used for the CI -> the urls are translated in the front end bundle

VITE_BAR_NAME="l'havrais bière"

MARIADB_PASSWORD=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

VITE_SITE_URL=https://lhavrais-pay.eli-sauvage.eu
VITE_API_URL=https://lhavrais-pay.eli-sauvage.eu/api

SMTP_USERNAME=
SMTP_PASSWORD=

#dev vars
DOCKER_IMAGE_URL_BASE=ghcr.io/eli-sauvage/
DATABASE_URL=mysql://app:${MARIADB_PASSWORD}@localhost:3306/lhavrais-pay
