:root{
    --background: #57b5b3;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    padding-top: 0px;
    overflow: scroll;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

body {
    margin: 0;
}
